body {
  font-family: 'Open Sans', sans-serif:
  font-size: 16px;
  line-height: 1;
  background-image: url("/Users/christianboswell/code/homework/Work Day Scheduler/Assets/950x534-blue-stained-glass-free-website-background-image.jpg")
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  /* border-top: 1px solid white;; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  opacity: 0.7;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #EDF5E1;
  color: dodgerblue; opacity: 0.5;
  opacity: 0.7;
}

.present {
  background-color: #379683;
  color: white;
  opacity: 0.7;
}

.future {
  background-color: #5CDB95;
  color: white;
  opacity: 0.7;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #F3E367;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


